@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@font-face {
  font-family: "PowerGrotesk";
  src: url("/fonts/PowerGrotesk-UltraBold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "PowerGrotesk";
  src: url("/fonts/PowerGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
}

.font-pg {
  font-family: "PowerGrotesk", Arial, sans-serif;
}

/* Custom slanted sections */
.clip-slant {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-slant-left {
  clip-path: polygon(0 0, 90% 0, 80% 100%, 0% 100%);
}